{% extends "layout.html" %}


{% block content %}

<div class="container">

    {% from "base/form_helpers.html" import render_field %}
    <form method=post>
        <dl>
            {{ render_field(form.dropdown, class='form-control') }}
            {{ render_field(form.keyword, class='form-control') }}
        
        </dl>
        <p><button type="search". class="btn btn-primary">Search</button>
    </form>

    <h3>Search Page</h3>
    <hr>
    <br>
    

    {% if dataframe %}
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Singer</th>
            <th scope="col">Song</th>
            <th scope="col">Album</th>
          </tr>
        </thead>
        <tbody>
          {% for row in dataframe %}
          <tr>
            <th>{{row['index']+1}}</th>
            <td>{{row['singer']}}</td>
            <td><a href="/lyrics/{{row['song_id']}}">{{row['song']}}</a></td>
            <td>@{{row['album']}}</td>
          </tr>
           {% endfor %}
        </tbody>
      </table>
      {% else %}
      <br>
      There is no song and lyrics for your searching criteria!
    {% endif %}

</div>

{% endblock %}